@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navbar-icon {
    @apply relative flex items-center justify-center
           h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
           bg-violet-400 text-purple-800
           hover:bg-blue-200 rounded-md hover:rounded-2xl
           transition-all duration-300 ease-linear
  }

  .navbar-details {
    @apply absolute w-auto px-2 m-2 min-w-max left-14 rounded-md shadow-md
           text-white bg-purple-900 font-amatic text-2xl
           font-bold transition-all duration-100 scale-0 origin-left
  }

}

@layer base {
  body {
    background-color: #feedfc;
    overflow-x: hidden
  }
}